flask/model3.h5
flask/model5.h5
flask/.ipynb_checkpoints
flask/venv
node_modules
DB
server/userUpload/
server/keys/
*.DS_Store
server2/.idea
.idea/*
server2/uploads
*.properties
server2/src/main/resources/application.properties

deploy.yaml