/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

html,
body .bodyDiv{
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-weight : 400;
}

body .bodyDiv {
  font-family: 'NanumSquare', sans-serif;
  background: -webkit-gradient(linear, left bottom, left top, from(#4f6072), to(#8699aa));
  background: -o-linear-gradient(bottom, #4f6072, #8699aa);
  background: linear-gradient(to top, #4f6072, #8699aa);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
          -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
          -ms-flex-align: center;
      align-items: center;
}

.initModal div{
  -webkit-animation: fadeup 0.5s 0.5s ease both;
          animation: fadeup 0.5s 0.5s ease both;
  -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
      transform: translateY(20px);
  opacity: 0;
}

ul {
  counter-reset: index;  
  padding: 0;
}


li {
  counter-increment: index; 
  display: flex;
  padding: 12px 0;
  box-sizing: border-box;
}


li::before {
  content: counters(index, ".", decimal-leading-zero);
  font-size: 1.5rem;
  text-align: center;
  font-weight: bold;
  min-width: 50px;
  font-variant-numeric: tabular-nums;
  align-self: flex-start;
  background-color: #FF509F;
  background-attachment: fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


li + li {
  border-top: 1px solid rgba(255,255,255,0.2);
}

.upload {
  position: relative;
  width: 400px;
  min-height: 445px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 5px;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background: #fff;
  -webkit-animation: fadeup 0.5s 0.5s ease both;
          animation: fadeup 0.5s 0.5s ease both;
  -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
      transform: translateY(20px);
  opacity: 0;
}
.upload .upload-files {
  min-height: 445px;
}

.upload .upload-files header {
  background: #FF509F;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  text-align: center;
}
.upload .upload-files header p {
  color: #fff;
  font-size: 40px;
  margin: 0;
  padding: 30px 0;
}
.upload .upload-files header p i {
  -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
      transform: translateY(20px);
  opacity: 0;
  font-size: 30px;
  -webkit-animation: fadeup 0.2s 0.7s ease both;
          animation: fadeup 0.2s 0.7s ease both;
}
.upload .upload-files header p .up {
  font-weight: 700;
  -webkit-transform: translateX(-20px);
          -ms-transform: translateX(-20px);
      transform: translateX(-20px);
  display: inline-block;
  opacity: 0;
  -webkit-animation: faderight 0.2s 1.2s ease both;
          animation: faderight 0.2s 1.2s ease both;
}
.upload .upload-files header p .load {
  display: inline-block;
  font-weight: 700;
  margin-left: 5px;
  -webkit-transform: translateX(-20px);
          -ms-transform: translateX(-20px);
      transform: translateX(-20px);
  opacity: 0;
  -webkit-animation: faderight 0.7s 1.2s ease both;
          animation: faderight 0.7s 1.2s ease both;
}

.upload .upload-files .body{
  min-height: 350px;

}

.upload .upload-files .body .bodyDiv{
  text-align: center;
  padding: 10px 0;
}
.upload .upload-files .body.hidden {
  display: none;
}
.upload .upload-files .body input {
  /* visibility: hidden; */
}
.upload .upload-files .body i {
  font-size: 65px;
  color: lightgray;
}
.upload .upload-files .body p {
  margin:5px;
  font-size: 18px;
  line-height: 1.4;
}
.upload .upload-files .body .fadeP {
  -webkit-transform: translateY(20px);
          -ms-transform: translateY(20px);
      transform: translateY(20px);
  margin:5px;
  font-size: 18px;
  line-height: 1.4;
  opacity: 0;
  -webkit-animation: fadeup 0.5s 1s ease both;
          animation: fadeup 0.5s 1s ease both;
}
.upload .upload-files .body p b,
.upload .upload-files .body p a {
  color: #4db6ac;
}
.upload .upload-files .body.active {
  border: 'dashed 2px #4db6ac';
}
.upload .upload-files .body.active i {
  -webkit-box-shadow: 0 0 0 -3px #fff, 0 0 0 lightgray, 0 0 0 -3px #fff, 0 0 0 lightgray;
          box-shadow: 0 0 0 -3px #fff, 0 0 0 lightgray, 0 0 0 -3px #fff, 0 0 0 lightgray;
  -webkit-animation: file 0.5s ease both;
          animation: file 0.5s ease both;
}
@-webkit-keyframes file {
  50% {
    -webkit-box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
            box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
  }
  75%,
					100% {
    -webkit-box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
            box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
@keyframes file {
  50% {
    -webkit-box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
            box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -8px 8px 0 -3px #fff, -8px 8px 0 lightgray;
  }
  75%,
					100% {
    -webkit-box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
            box-shadow: -8px 8px 0 -3px #fff, -8px 8px 0 lightgray, -16px 16px 0 -3px #fff, -16px 16px 0 lightgray;
  }
}
.upload .upload-files .body.active .pointer-none {
  pointer-events: none;
}
.upload .upload-files footer {
  width: 100%;
  margin: 0 auto;
  height: 0;
}
.upload .upload-files footer .divider {
  margin: 0 auto;
  width: 0;
  border-top: solid 4px #46aba1;
  text-align: center;
  overflow: hidden;
  -webkit-transition: width 0.5s ease;
  -o-transition: width 0.5s ease;
  transition: width 0.5s ease;
}
.upload .upload-files footer .divider span {
  display: inline-block;
  -webkit-transform: translateY(-25px);
          -ms-transform: translateY(-25px);
      transform: translateY(-25px);
  font-size: 12px;
  padding-top: 8px;
}
.upload .upload-files footer.hasFiles {
  height: auto;
}
.upload .upload-files footer.hasFiles .divider {
  width: 100%;
}
.upload .upload-files footer.hasFiles .divider span {
  -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
      transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s 0.5s ease;
  transition: -webkit-transform 0.5s 0.5s ease;
  -o-transition: transform 0.5s 0.5s ease;
  transition: transform 0.5s 0.5s ease;
  transition: transform 0.5s 0.5s ease, -webkit-transform 0.5s 0.5s ease;
}
.upload .upload-files footer .list-files {
  width: 320px;
  margin: 0 auto;
  margin-top: 15px;
  padding-left: 5px;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: 210px;
}
.upload .upload-files footer .list-files::-webkit-scrollbar-track {
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar {
  width: 4px;
  background-color: rgba(211, 211, 211, 0.25);
}
.upload .upload-files footer .list-files::-webkit-scrollbar-thumb {
  background-color: rgba(77, 182, 172, 0.5);
}
.upload .upload-files footer .list-files .file {
  width: 300px;
  min-height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
          -ms-flex-pack: justify;
      justify-content: space-between;
  -webkit-box-align: center;
          -ms-flex-align: center;
      align-items: center;
  opacity: 0;
  -webkit-animation: fade 0.35s ease both;
          animation: fade 0.35s ease both;
}
.upload .upload-files footer .list-files .file .name {
  font-size: 12px;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  overflow: hidden;
  width: 80px;
  text-align: left;
}
.upload .upload-files footer .list-files .file .progress {
  width: 175px;
  height: 5px;
  border: solid 1px lightgray;
  border-radius: 2px;
  background: -webkit-gradient(linear, right top, left top, from(rgba(77, 182, 172, 0.2)), to(rgba(77, 182, 172, 0.8))) no-repeat;
  background: -o-linear-gradient(right, rgba(77, 182, 172, 0.2), rgba(77, 182, 172, 0.8)) no-repeat;
  background: linear-gradient(to left, rgba(77, 182, 172, 0.2), rgba(77, 182, 172, 0.8)) no-repeat;
  background-size: 100% 100%;
}
.upload .upload-files footer .list-files .file .progress.active {
  -webkit-animation: progress 30s linear;
          animation: progress 30s linear;
}
@-webkit-keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
@keyframes progress {
  from {
    background-size: 0 100%;
  }
  to {
    background-size: 100% 100%;
  }
}
.upload .upload-files footer .list-files .file .done {
  cursor: pointer;
  width: 40px;
  height: 40px;
  background: #4db6ac;
  border-radius: 50%;
  margin-left: -10px;
  -webkit-transform: scale(0);
          -ms-transform: scale(0);
      transform: scale(0);
  position: relative;
}
.upload .upload-files footer .list-files .file .done:before {
  content: "View";
  position: relative;
  top: 0;
  left: -5px;
  font-size: 24px;
  opacity: 0;
}
.upload .upload-files footer .list-files .file .done:hover:before {
  -webkit-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
  top: -30px;
  opacity: 1;
}
.upload .upload-files footer .list-files .file .done.anim {
  -webkit-animation: done1 0.5s ease forwards;
          animation: done1 0.5s ease forwards;
}
.upload .upload-files footer .list-files .file .done.anim #path {
  -webkit-animation: done2 2.5s 0.5s ease forwards;
          animation: done2 2.5s 0.5s ease forwards;
}
.upload .upload-files footer .list-files .file .done #path {
  stroke-dashoffset: 7387.59423828125;
  stroke-dasharray: 7387.59423828125 7387.59423828125;
  stroke: #fff;
  fill: transparent;
  stroke-width: 50px;
}
@-webkit-keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@keyframes done2 {
  to {
    stroke-dashoffset: 0;
  }
}
@-webkit-keyframes done1 {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
}
@keyframes done1 {
  50% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
  80% {
    -webkit-transform: scale(0.25);
            transform: scale(0.25);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 1;
  }
}
.upload .upload-files footer .importar {
  outline: none;
  position: relative;
  left: 0;
  right: 0;
  bottom: 20px;
  margin: auto;
  border: solid 1px #4db6ac;
  color: #4db6ac;
  background: transparent;
  padding: 8px 15px;
  font-size: 12px;
  border-radius: 4px;
  font-family: 'NanumSquare';
  line-height: 1;
  cursor: pointer;
  -webkit-transform: translateY(15px);
          -ms-transform: translateY(15px);
      transform: translateY(15px);
  opacity: 0;
  visibility: hidden;
  margin-left: calc(50% - 40px);
}
.upload .upload-files footer .importar.active {
  -webkit-transition: opacity 0.5s 1.5s ease, background, -webkit-transform 0.5s 1.5s ease;
  transition: opacity 0.5s 1.5s ease, background, -webkit-transform 0.5s 1.5s ease;
  -o-transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background;
  transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background;
  transition: transform 0.5s 1.5s ease, opacity 0.5s 1.5s ease, background, -webkit-transform 0.5s 1.5s ease;
  -webkit-transform: translateY(0);
          -ms-transform: translateY(0);
      transform: translateY(0);
  opacity: 1;
  visibility: visible;
}
.upload .upload-files footer .importar:hover {
  background: #4db6ac;
  color: #fff;
}
@-webkit-keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeup {
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@-webkit-keyframes faderight {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes faderight {
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@-webkit-keyframes fade {
  to {
    opacity: 1;
  }
}
@keyframes fade {
  to {
    opacity: 1;
  }
}


.ReactModal__Overlay {
  opacity: 0;
  -webkit-transition: opacity 500ms ease-in-out;
  -o-transition: opacity 500ms ease-in-out;
  transition: opacity 500ms ease-in-out;
}

.ReactModal__Overlay--after-open{
  background-color: rgba(0, 0, 0, 0.75);
  opacity: 1;
}

.ReactModal__Overlay--before-close{
  opacity: 0;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: sans-serif;
}

.container > p {
  font-size: 1rem;
}

.container > em {
  font-size: .8rem;
}

.dropzone {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px;
  border-width: 2px;
  border-radius: 2px;
  border-color: #eeeeee;
  border-style: dashed;
  background-color: #fafafa;
  color: #bdbdbd;
  outline: none;
  -webkit-transition: border .24s ease-in-out;
  -o-transition: border .24s ease-in-out;
  transition: border .24s ease-in-out;
}

.dropzone:focus {
  border-color: #2196f3;
}

.dropzone.disabled {
  opacity: 0.6;
}

.banner{
  -webkit-animation: fade 3s ease both;
          animation: fade 3s ease both;
  -moz-animation:fade 3s ease both;
  -o-animation:fade 3s ease both;
}

@keyframes fade {
  0%,100% { opacity: 0 }
  25%, 75% { opacity: 1 }
}
@keyframes fade {
  0%,100% { opacity: 0 }
  25%, 75% { opacity: 1 }
}


@media (max-width: 450px) {
  .upload {
    width: 88%;
  }
  .upload .upload-files .body .fadeP {
    font-size: 15px;
  }
  .upload .upload-files header p {
    font-size: 35px;
  }
  .upload .upload-files .body .nomalP {
    font-size: 15px;
  }
}

.back {
  height:100%;
}
.back .banner{
  width:100%;
  color: #000;
  background-color: lightGreen; 
  font-family: arial;
  margin:0;
  position:absolute;
  z-index:1;
}

.back .bodyDiv .preview{
  display: none;
}
.back .bodyDiv .upload .iconButton{
  position:absolute;
  right:-10px; 
  top:-10px; 
  background-color:white;
  border-radius: 50%;
}
.back .bodyDiv .upload .iconButton .refresh{
  color:gray
}
.back .bodyDiv .upload .upload-files .body .uploadBox{
  width:80%; 
  height:50%; 
  margin-left:auto; 
  margin-right:auto; 
  position:absolute; 
  top:30%; 
  left:10%;
}
.back .bodyDiv .upload .upload-files .body .uploadBox .dropSection{
  height: 100%;
}

.back .bodyDiv .upload .upload-files .body .uploadBox .dropSection .dropBox{
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    border-width: 2px;
    border-radius: 2px;
    border-color: #eeeeee;
    border-style: dashed;
    background-color: #fafafa;
    color: #bdbdbd;
    outline: none;
    -webkit-transition: border .24s ease-in-out;
    -o-transition: border .24s ease-in-out;
    transition: border .24s ease-in-out;
    height: 100%;
  
}

.back .bodyDiv .upload .upload-files .body .uploadBox .dropSection .dropText{
  text-align: center;
  position: relative;
  top:20%;
  color:#999999;
}
.back .bodyDiv .upload .upload-files .body .imageBox{
  width:100%;
  height:100%; 
  text-align:center;
  position:relative; 
  min-height:350px; 
  display:table;
}
.back .bodyDiv .upload .upload-files .body .imageBox .imageTable{
  display: table-cell; 
  vertical-align: middle
}
.back .bodyDiv .upload .upload-files .body .imageBox .imageTable .imageCanvas{
  margin-top:10px; 
  position:relative;
  width:75%
}

.back .bodyDiv .upload .upload-files .body .imageBox .imageTable .resultBox{
  text-align:center; 
  padding: 10px 0 10px 0; 
  height:70px; 
  left:25%; 
  bottom:10px; 
  width:100%; 
  border-radius: 25px; 
  background:white;
}
.back .bodyDiv .upload .upload-files .body .imageBox .imageTable .resultBox .resultDiv{
  text-align: center;
}
.back .bodyDiv .upload .upload-files .body .imageBox .imageTable .loadingBox{
  position: absolute; 
  top:120px; 
  left:47%
}

.userTrain .wrong{
  margin:5px;
}

#exitButton{
  float: right;
}

#exitIcon{
  position:absolute;
  left:88%;
  top:7%
}

#chaewon{
  font-family:NanumSquare; 
  margin:5px;
  background-color:#cee5d5
}

#yuri{
  font-family:NanumSquare; 
  margin:5px;
  background-color:#f3aa51
}

#yaena{
  font-family:NanumSquare; 
  margin:5px;
  background-color:#fcf695
}